### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items], 
                           "Average Price": [average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
summary_df.style.format({"Average Price": "${:,.2f}", 
                         "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data_gender = purchase_data.groupby("Gender")
gender_count = purchase_data_gender.nunique()["SN"]
percentage_of_players = (gender_count / total_players) * 100
gender_demo = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_of_players})
gender_demo.index.name = None
gender_demo_sorted = gender_demo.sort_values(["Total Count"], ascending = False)
gender_demo_sorted.style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count_gender = purchase_data_gender["Purchase ID"].count()
average_purchase_price_gender = purchase_data_gender["Price"].mean()
total_purchase_value_gender = purchase_data_gender["Price"].sum()
average_total_purchase_per_person = total_purchase_value_gender/gender_count

gender_demo_purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count_gender, 
                                               "Average Purchase Price": average_purchase_price_gender, 
                                               "Total Purchase Value": total_purchase_value_gender, 
                                               "Average Total Purchase per Person": average_total_purchase_per_person})
gender_demo_purchasing_analysis.index.name = "Gender"
gender_demo_purchasing_analysis.style.format({"Average Purchase Value":"${:,.2f}", 
                                              "Average Purchase Price":"${:,.2f}", 
                                              "Average Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=bin_labels)

purchase_data_age_grouped = purchase_data.groupby("Age Group")
total_count_age = purchase_data_age_grouped["SN"].nunique()
percentage_of_players_age = (total_count_age/total_players) * 100

age_demo_df = pd.DataFrame({"Total Count": total_count_age,
                            "Percentage of Players": percentage_of_players_age})
age_demo_df.index.name = None
age_demo_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_count_age = purchase_data_age_grouped["Purchase ID"].count()
average_purchase_price_age = purchase_data_age_grouped["Price"].mean()
total_purchase_value_age = purchase_data_age_grouped["Price"].sum()
average_total_purchase_per_person_age = total_purchase_value_age/total_count_age
purchasing_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                           "Average Purchase Price": average_purchase_price_age,
                                           "Total Purchase Value": total_purchase_value_age,
                                           "Avg Total Purchase Per Person": average_total_purchase_per_person_age})
purchasing_analysis_age_df.index.name = None
purchasing_analysis_age_df.style.format({"Average Purchase Price": "${:,.2f}", 
                                         "Total Purchase Value": "${:,.2f}",
                                         "Avg Total Purchase Per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spenders_data = purchase_data.groupby("SN")

purchase_count_spender = spenders_data["Purchase ID"].count()
average_purchase_price_spender = spenders_data["Price"].mean()
total_purchase_value_spender = spenders_data["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender, 
                                "Average Purchase Price": average_purchase_price_spender,
                                "Total Purchase Value": total_purchase_value_spender})

top_spenders_df_formatted = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_df_formatted.style.format({"Average Purchase Total":"${:,.2f}",
                                        "Average Purchase Price":"${:,.2f}",
                                        "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
item_columns = purchase_data[["Item ID", "Item Name", "Price"]]
item_data_grouped = item_columns.groupby(["Item ID", "Item Name"])
purchase_count_item = item_data_grouped["Price"].count()
total_purchase_value_item = item_data_grouped["Price"].sum()
price_item = total_purchase_value_item/purchase_count_item

most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count_item,
                                      "Item Price": price_item,
                                      "Total Purchase Value": total_purchase_value_item})
most_popular_items_df_formatted = most_popular_items_df.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items_df_formatted.style.format({"Item Price":"${:,.2f}",
                                              "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_popular_items_df_formatted = most_popular_items_df.sort_values(["Total Purchase Value"],ascending=False).head()
most_popular_items_df_formatted.style.format({"Item Price":"${:,.2f}",
                                              "Total Purchase Value":"${:,.2f}"})